<div class="max-h-[400px]">
  <mat-selection-list #formats [multiple]="false" [hideSingleSelectionIndicator]="true" [formControl]="marcadorForm"
    (selectionChange)="optionSelected()">
    <mat-list-option *ngFor="let marcador of marcadores" [value]="marcador">
      <div class="flex w-full justify-between">
        {{marcador.nombre}}
        <mat-icon class="material-symbols-rounded" [ngStyle]="{'color':marcador.color}">{{marcador.icono}}</mat-icon>
      </div>
    </mat-list-option>
  </mat-selection-list>
</div>