.container-calendar {
  border-top: 1px solid #ddd !important;
  border-bottom: 1px solid #ddd !important;
  margin: 4px 0px !important;
}

.container-tareas {
  height: calc(100vh - 450px);
  overflow-y: scroll;
}

.icon-today {
  font-size: 15px;
  font-weight: 600;
  border: solid 3px;
  border-radius: 3px;
  border-bottom-right-radius: 10px;
  top: -4px;
  position: relative;
}
