.button-hour {
  width: 80px;
  height: 80px;
  border-radius: 4px;
  background-color: #1a788459;
  box-shadow: inset 0 0 0 2px #1a7884;
}

.point-hour {
  width: 10px;
  height: 10px;
  background-color: black;
  border-radius: 50%;
}

.title-container {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: flex-start;
}

.item-container {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  border-bottom: 1px solid #e0e0e0;
}

.item-container button mat-icon {
  color: red;
}

.float-button {
  position: absolute;
  z-index: 1000;
  bottom: 8px;
  right: 8px;
}

@media (prefers-color-scheme: dark) {
  .point-hour {
    background-color: white;
  }
}
