<ion-header style="box-shadow: none !important;">
  <ion-toolbar color="primary">
    <ion-buttons slot="start">
      <button mat-icon-button (click)="cancel()">
        <mat-icon class="material-symbols-rounded">arrow_back</mat-icon>
      </button>
    </ion-buttons>
    <ion-title>Crear Alarma</ion-title>
    <ion-buttons slot="end">
      <button mat-icon-button (click)="confirm()">
        <mat-icon class="material-symbols-rounded" style="color: #ffffffbd;">save</mat-icon>
      </button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>
<ion-content class="ion-padding">

</ion-content>
