.title-modal {
    font-size: 16px !important;
}

mat-slider {
    width: 70%;
}

.boton-alarma {
    padding: 24px;
    border-radius: 15px;
    background-color: #1A7783;
    color: white;
    font-weight: bold;
}